  body{

    margin: 0;
    text-align: center;


  }
.top{
background-color: #FCFFE7;
height: 25rem;
position: static;


}
.xlogo{
  width: 12em;
}
.middle{
background-color: #DAB88B;
height: 400px;
position: relative;

}
.bottom{
background-color: #FCFFE7;
height: 100px;
position: relative;

}


h1{
  color: #DEA057;
  margin-top: 0;
  font-size: 3rem;
  padding-top: 15px;
}


h3{
  color: #66bfbf;
  font-size: 2em;
}
