.intro{
  border: 5px solid black ;
  border-radius: 15px;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: background-color 1s;
}
.intro2{
  border: 5px solid black ;
  border-radius: 15px;
  background-color: grey;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
  justify-content: space-around;

}
.formcontainer{
  display: grid;
  justify-content: center;

}



@media screen and (max-width:750px)
{
  .intro2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;


  }
  .about {
    width: 300px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;


  }
  .Skills{
    width: 1500px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;

    position: relative;
  }
  .edu{
    width: 1500px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
  }
}
.touch{
  color:  #fbc304;
  text-align: center;

}

.button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fbc304;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  width: 70px;
  height: 20px;
}
.logoimg{
  width: 10rem;
}
.about {
  width: 10rem;
  text-align: center;



}
.Skills{
  width: 10rem;
  text-align: center;


}
.edu{
  width: 10rem;
  text-align: center;


}

.sub-button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  text-align: center;
  background-color: #fbc304;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: 150px;
  height: 40px;
}
.namenmail{
  text-align: center;
}
.buttonholder{
    text-align: center;
}
.formstyling{
  border: 3px solid black;
  border-radius: 5px;
  margin: 1px;
  padding: 3px;

}


.sub-button:hover {

    color: black;

    border-color: black;
    box-shadow: 0px 15px 20px black;
    background-color: #fbc304;
    transform: translateY(-7px);
}

#abimg{
  width: 6rem;
}
#skimg{
  width: 6rem;
}
#edimg{
  width: 8rem;
}
#h3line{
  color: #fbc304;
}
.button:hover{
  color: black;
  border-color: black;
  box-shadow: 0px 15px 20px black;
  background-color: #fbc304;
  transform: translateY(-7px);
}
#profpic{
  width: 15rem;
  padding-bottom: 15px;
}
#cright{
  text-align: center;
}
.name{
  text-align: center;
  color: WHITE;
}

body{
  margin: 5px;;
  background-color: #413F42;
  color:black;
  font-family: 'Ubuntu', sans-serif;
}
p{
  color: #fff;
}
html{
  margin: none;
}

.intro p{
  padding-left: 10px;
}
.intro img{
  border-radius: 14px;
  cursor: grab;

}
