.intro{
  border: 5px solid black ;
  border-radius: 15px;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: background-color 1s;
}
.intro2{
  border: 5px solid black ;
  border-radius: 15px;
  background-color: grey;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  flex-direction: column;
}
.touch{
  color:  #fbc304;
  text-align: center;

}
.forms{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  font: bold 1.25rem Arial;
  text-decoration: none;
  background-color: #fbc304 ;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
}
.about {
  width: 40%;
  text-align: center;
}
#sub-button {
    transition-duration: 0.4s;
    border-radius: 6px;
    color: #fbc304;
      border-color:#fbc304 ;
    background-color: black;

    width: 150px;
    height: 30px;
}
.formin{
  border-radius: 6px;
  border-color: black;

}
#sub-button:hover {
    transition-duration: 0.4s;
    border-radius: 3px;
    color: black;
    border-color: black;
    background-color: #fbc304;
}
.Skills{
  width: 40%;
  text-align: center;

}
#abimg{
  width: 4rem;
}
#skimg{
  width: 8rem;
}
.button:hover{
  background-color: yellow;
}
#profpic{
  width: 15rem;
  padding-bottom: 15px;
}
#cright{
  text-align: center;
}
.name{
  text-align: center;
  color: WHITE;
}

body{
  margin: 5px;;
  background-color: #413F42;
  color:black;
  font-family: 'Ubuntu', sans-serif;
}
p{
  color: #fff;
}
html{
  margin: none;
}

.intro p{
  padding-left: 10px;
}
.intro img{
  border-radius: 15px;
  cursor: grab;

}
