.intro{
  border: 5px solid black ;
  border-radius: 15px;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: background-color 1s;

}
.button {
  font: bold 1.25rem Arial;
  text-decoration: none;
  background-color: #fbc304 ;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
}
.about {
  text-align: center;
}
.Skills{
  text-align: center;

}
.intro2{
  border: 5px solid black ;
  border-radius: 15px;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  transition: background-color 1s;
}
.button:hover{
  background-color: yellow;
}
.name{
  text-align: center;
  color: WHITE;
}

body{
  margin: 5px;;
  background-color: #413F42;
  color: white;
}
html{
  margin: none;
}

.intro p{
  padding-left: 10px;
}
.intro img{
  border-radius: 15px;
  cursor: grab;

}
