.intro{
  border: 5px solid black ;
  border-radius: 15px;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  transition: background-color 1s;

}
.button {
  font: bold 1.28em Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
}
.button:hover{
  background-color: yellow;
}
body{
  margin: 0;
  background-color: black;
}
html{
  margin: none;
}

.intro p{
  padding-left: 10px;
}
.intro img{
  border-radius: 15px;
  cursor: grab;

}
